@import '_vars.scss';

main>.box {
  &>header>h2 {
    color: $main-color;
  }
  &>.content {
    padding: 10px;
    &>div{
      margin: 20px auto;
      &>h3 {
        text-align: center;
        width: 20%;
        margin: 10px auto;
        color: $main-color;
        text-transform: uppercase;
      }
    }

    &>.question {
      &>p {
        text-align: center;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    &>.reponse {
      &>form {
        &>input[type=file] {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}

.custom {
  width: 50%;
  border: 1px solid green;
}

#filesTable {
  width: 100%;
  border-spacing: 0;
  &>tbody {
    &>tr {
      &>td {
        text-align: center;
      }
    }
  }
}

.oui {
  background: #27ae60;
  &>td {
    color: white;
  }
}

.non {
  background: #c0392b;
  &>td {
    color: white;
  }
}