@import '_vars.scss';

main>.box {
  &>header>h2 {
    color: $main-color;
  }
  &>.content {
    padding: 10px;
    &>div{
      margin: 20px auto;
      &>h3 {
        text-align: center;
        width: 20%;
        margin: 10px auto;
        color: $main-color;
        text-transform: uppercase;
      }
    }

    &>.question {
      &>p {
        text-align: center;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    &>.reponse {
      &>form>textarea {
        width: 75%;
        min-height: 10vh;
        resize: vertical;
        border-radius: 3px;
        border: none;
      }
    }
  }
}

.custom {
  width: 50%;
  border: 1px solid green;
}